.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2em;
  padding: 2em 0;
}

.grid-item {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

a.selected {
  color: var(--selected-color);

  .grid-item {
    border: 1px solid var(--selected-color);
  }

  .easingFunctionStroke {
    stroke: var(--selected-color);
  }
}

/* Responsive design for smaller screens */
@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

::backdrop {
  background: #222;
  opacity: 0.75;
}

@media (prefers-color-scheme: light) {
  ::backdrop {
    background: #ccc;
    opacity: 0.75;
  }
}
