@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Junge&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Luxurious+Script&family=Modak&family=Ojuju:wght@200..800&family=Pirata+One&family=Playfair:ital,opsz,wdth,wght@0,5..1200,87.5..112.5,300..900;1,5..1200,87.5..112.5,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Sora:wght@100..800&family=Syne:wght@400..800&family=UnifrakturMaguntia&display=swap');

.pirata-one-regular {
  font-family: 'Pirata One', system-ui;
  font-weight: 400;
  font-style: normal;
}

.pirata-one-regular {
  font-family: 'Pirata One', system-ui;
  font-weight: 400;
  font-style: normal;
}

.poppins-thin {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-style: italic;
}

.press-start-2p-regular {
  font-family: 'Press Start 2P', system-ui;
  font-weight: 400;
  font-style: normal;
}

.modak-regular {
  font-family: 'Modak', system-ui;
  font-weight: 400;
  font-style: normal;
}

.unifrakturmaguntia-regular {
  font-family: 'UnifrakturMaguntia', cursive;
  font-weight: 400;
  font-style: normal;
}

.junge-regular {
  font-family: 'Junge', cursive;
  font-weight: 400;
  font-style: normal;
}

/* .ojuju-<uniquifier> {
  font-family: "Ojuju", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* .sora-<uniquifier> {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

.k2d-thin {
  font-family: 'K2D', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.k2d-extralight {
  font-family: 'K2D', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.k2d-light {
  font-family: 'K2D', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.k2d-regular {
  font-family: 'K2D', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.k2d-medium {
  font-family: 'K2D', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.k2d-semibold {
  font-family: 'K2D', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.k2d-bold {
  font-family: 'K2D', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.k2d-extrabold {
  font-family: 'K2D', sans-serif;
  font-weight: 800;
  font-style: normal;
}

.k2d-thin-italic {
  font-family: 'K2D', sans-serif;
  font-weight: 100;
  font-style: italic;
}

.k2d-extralight-italic {
  font-family: 'K2D', sans-serif;
  font-weight: 200;
  font-style: italic;
}

.k2d-light-italic {
  font-family: 'K2D', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.k2d-regular-italic {
  font-family: 'K2D', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.k2d-medium-italic {
  font-family: 'K2D', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.k2d-semibold-italic {
  font-family: 'K2D', sans-serif;
  font-weight: 600;
  font-style: italic;
}

.k2d-bold-italic {
  font-family: 'K2D', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.k2d-extrabold-italic {
  font-family: 'K2D', sans-serif;
  font-weight: 800;
  font-style: italic;
}

/* .playfair-<uniquifier> {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */
