:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #1A1A2E;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --selected-color: hsl(181, 45%, 73%);
}

.easingFunctionStroke {
  stroke: white;
  stroke-width: 4px;
}

a {
  font-weight: 500;
  color: #ffffffde;
  text-decoration: inherit;

  :hover {
    color: #535bf2;

    .easingFunctionStroke {
      stroke: #535bf2;
    }
  }
}

body {
  margin: 0;
  background-color: #1A1A2E;
  color: #E0E7FF;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button.selected {
  border: 2px solid #646cff;
}

div.card {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: #323232;
  border-radius: 8px;
  border: 1px solid #4f4f4f;
  padding: 1em;
  align-items: start;
}

.easingSvg {
  width: 100%;
  min-width: 50px;
  height: 100%;
  overflow: visible;
  display: block;
  margin: 0 auto;
}

.noPadding {
  padding: 0 !important;
}

div.layout {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

div.editorContainer > section {
  max-width: 1280px;
}

div.card span.cardTitle {
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: 8px;
}

div.card span.innerTitle {
  font-weight: bold;
  font-size: 1em;
  padding-bottom: 4px;
  text-align: start;
}

button.iconButton {
  padding: 4px;
  width: 30px;
  height: 30px;
}

button.iconButton.selected {
  border: 1px solid #646cff;
}

.userInput {
  padding: 4px;
  font-size: 1em;
}

.loadingContainer {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  z-index: 10000;
  background-color: #1A1A2E;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 2em;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a {
    color: #213547;
    :hover {
      color: #747bff;

      .easingFunctionStroke {
        stroke: #747bff;
      }
    }
  }

  .easingFunctionStroke {
    stroke: #213547;
  }

  button {
    background-color: #f9f9f9;
  }

  button.selected {
    border: 2px solid #747bff;
  }

  button.iconButton.selected {
    border: 1px solid #747bff;
  }

  div.card {
    background-color: #f0f0f0;
    border: 1px solid #d7d7d7;
  }

  .loadingContainer {
    background-color: #ffffff;
  }
}

.setting-group {
  text-align: start;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
}
